.footer{
    width: 100vw;
    height: 4rem;
    background: rgb(40,40,40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-top: 1rem;
    font-size: small;
}

@media screen and (max-width:780px) {
    .footer{
        margin-left: 30%;
        background: none;
    }   
}

@media screen and (max-width:541px){
    .footer{
        margin-left: 15%;
    }
}

@media screen and (max-width:431px){
    .footer{
        margin-left: 30%;
    }
}

@media screen and (max-width:415px){
    .footer{
        margin-left: 35%;
    }
}

@media screen and (max-width:391px){
    .footer{
        margin-left: 39%;
    }
}

@media screen and (max-width:361px){
    .footer{
        margin-left: 47%;
    }
}
